<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
  <dict>
    <key>BundleIdentifier</key>
    <string>com.refocus.macos</string>
    <key>RootRelativeBundlePath</key>
    <string>Applications/Refocus.app</string>
    <key>BundleOverwriteAction</key>
    <string>upgrade</string>
    <key>BundleIsRelocatable</key>
    <false/>
    <key>BundleIsVersionChecked</key>
    <false/>
  </dict>
</array>
</plist>
